# Dependencias
node_modules/
.pnp
.pnp.js

# Archivos de compilación
dist/
build/

# Archivos de ambiente
.env*
__env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Directorios y archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios y archivos del IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de configuración de TypeScript
tsconfig.tsbuildinfo

# Archivos de prueba y cobertura
coverage/

# Archivos temporales
*.tmp
*.temp

# Archivos de respaldo
*.bak

# locks
package-lock.json
yarn.lock

# Archivos de caché
.cache/

# internal
.todo

# Otros archivos y directorios que podrían ser específicos de tu proyecto
# Agrega aquí cualquier otro archivo o directorio que quieras ignorar